%h1 Listing workshops

- content_for(:sidebar) do
  - @workshops.each do |workshop|
    .teaser
      -#.teaserimage.pull-left= image_tag workshop.workshop_image.public_url, :style => "max-width: 100px; min-width: 100px; min-height:100px;"
      .teasertext
        .name 
          = link_to workshop.name, workshop_path(workshop)
        .description 
          != workshop.description

      -#%td= link_to 'Show', workshop
      -#%td= link_to 'Edit', edit_workshop_path(workshop)
      -#%td= link_to 'Destroy', workshop, :confirm => 'Are you sure?', :method => :delete

#map{"style"=>"height:600px; width: 100%"}
= link_to 'New Workshop', new_workshop_path

:javascript
  var locations = #{@locations};
  var map, layer;
  function init(){
    OpenLayers.ProxyHost="/proxy/?url=";
    map = new OpenLayers.Map('map');
    layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
          "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
          
    map.addLayer(layer);
    map.setCenter(new OpenLayers.LonLat(0, 0), 0);

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    var size = new OpenLayers.Size(21,25);
    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
    locations.forEach( function(x,i) {
      var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
      markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(x[1], x[0]) ,icon));
    });

    map.addControl(new OpenLayers.Control.LayerSwitcher());
    map.zoomIn(10);
  }
