=simple_form_for([@plan, @plan.attachments.build], {:html => {:class => 'well form-inline'}}) do |f|
  %h4 Add an Attachment:
  %br
  = f.error_notification
  .field
    = f.input_field :name 
    = f.file_field :plan_attachment
  .actions
    = f.submit :class => 'btn'